<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/icons/icomoon/styles.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/core.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/components.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/colors.min.css') }}" rel="stylesheet" type="text/css"> {% block css %} {% endblock %}
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/loaders/pace.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/core/libraries/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/core/libraries/jquery_ui/full.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/core/libraries/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/loaders/blockui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/ui/nicescroll.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/plugins/ui/drilldown.js') }}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->

    <script type="text/javascript" src="{{ url_for('static', filename='js/core/app.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/pages/layout_navbar_secondary_fixed.js') }}"></script>
    <!-- /theme JS files -->

</head>

<body>

    <!-- Main navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">Project J</a>

            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li>
                    <a data-toggle="collapse" data-target="#navbar-mobile">
                        <i class="icon-tree5"></i>
                    </a>
                </li>
            </ul>
            <p class="navbar-text">
                <span class="label bg-success-400">Online</span>
            </p>
        </div>

        <!-- Main navbar -->
        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav">

            </ul>
            {% if current_user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                {% if session['active_project_name'] %}
                <p class="navbar-text">Active project:
                    <span class="label bg-success-400">
                        <a href="/project/{{ session['active_project'] }}">{{ session['active_project_name'] }}</a>
                    </span>
                </p>
                {% endif %}
                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ url_for('static', filename='images/image.png') }}" alt="">
                        <span>{{ current_user.email }}</span>
                        <i class="caret"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="{{ url_for('account.user_profile') }}">
                                <i class="icon-user-plus"></i>
                                My profile</a>
                        </li>
                        {% if current_user.role == "admin" %}
                        <li>
                            <a href="{{ url_for('account.admin_dashboard') }}">
                                <i class="icon-users"></i>User Management
                            </a>
                        </li>
                        {% endif %}
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <i class="icon-cog5"></i> Account settings</a>
                        </li>
                        <li>
                            <a href="{{ url_for('account.logout') }}">
                                <i class="icon-switch2"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ url_for('account.register') }}">
                        <span class="glyphicon glyphicon-user"></span> Register</a>
                </li>
                <li>
                    <a href="{{ url_for('account.login') }}">
                        <span class="glyphicon glyphicon-log-in"></span> Log In</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
    <!-- /main navbar -->


    <!-- Second navbar -->
    {% if current_user.is_authenticated %}
    <div class="navbar navbar-default" id="navbar-second">
        <ul class="nav navbar-nav no-border visible-xs-block">
            <li>
                <a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle">
                    <i class="icon-menu7"></i>
                </a>
            </li>
        </ul>

        <div class="navbar-collapse collapse" id="navbar-second-toggle">
            <ul class="nav navbar-nav">
                <li class="{% if request.path == url_for('main.home') %}active{% endif %}">
                    <a href="{{ url_for('main.home') }}">
                        <i class="icon-display4"></i> Home</a>
                </li>
                <li class="dropdown {% if request.path in [url_for('project.list')] %}
                                        active
                                    {% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{ url_for('project.list') }}">
                        Projects
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="{% if request.path == url_for('project.project_add') %}active{% endif %}">
                            <a href="{{ url_for('project.project_add') }}">
                                <i class="icon-file-plus2"></i> New Project
                            </a>
                        </li>
                        <li class="{% if request.path == url_for('project.list') %}active{% endif %}">
                            <a href="{{ url_for('project.list') }}">
                                <i class="icon-grid2"></i>List Projects </a>
                        </li>
                        <li>
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-stats-bars"></i> Event study</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ url_for('project.event_list') }}">List event studies</a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('project.event_new') }} ">New event study</a>
                                    </li>
                                    <li class="last">
                                        <a href="{{ url_for('project.events_upload') }} ">New event study from file</a>
                                    </li>
                                </ul>
                            </li>
                        </li>
                    </ul>
                </li>
                <li class="dropdown mega-menu mega-menu-wide">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="icon-puzzle4 position-left"></i> Datasets
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu dropdown-content">
                        <div class="dropdown-content-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <span class="menu-heading underlined">Fintweet</span>
                                    <div class="dd-wrapper" id="dd-wrapper-0">
                                        <div id="dd-header-0" class="dd-header">
                                            <h6>Back to parent</h6>
                                        </div>
                                        <ul class="menu-list has-children dd-menu" tabindex="0" style="overflow: hidden; outline: none;">
                                            <li class="{% if request.path == url_for('fintweet.index') %}active{% endif %}">
                                                <a href="{{ url_for('fintweet.index') }}">Overview</a>
                                            </li>
                                            <li class="dd-parent">
                                                <a href="#" class="dd-parent-a">
                                                    <i class="icon-insert-template"></i>
                                                    Tweets
                                                    <span class="dd-icon"></span>
                                                </a>
                                                <ul rel="2" style="margin-right: 0px; margin-top: 0px;">
                                                    <li>
                                                        <a href="#">Item 1</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Item 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dd-parent">
                                                <a href="#" class="dd-parent-a">
                                                    <i class="icon-insert-template"></i>
                                                    Users
                                                    <span class="dd-icon"></span>
                                                </a>
                                                <ul rel="2" style="margin-right: 0px; margin-top: 0px;">
                                                    <li>
                                                        <a href="#">Item 1</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Item 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <!-- <li class="dd-parent last">
                                                <a href="#" class="dd-parent-a"><i class="icon-insert-template"></i>
                                                    Event study<span class="dd-icon"></span></a>
                                                <ul rel="2" style="margin-right: 0px; margin-top: 0px;">
                                                    <li><a href="{{ url_for('project.event_list') }}">List event
                                                        studies</a></li>
                                                    <li><a href="{{ url_for('project.event_new') }} ">New event
                                                        study</a></li>
                                                    <li class="last"><a href="{{ url_for('project.events_upload') }} ">New
                                                        event study from file</a></li>
                                                </ul>
                                            </li> -->
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <span class="menu-heading underlined">Stocktweets</span>
                                    <div class="dd-wrapper" id="dd-wrapper-0">
                                        <div id="dd-header-0" class="dd-header">
                                            <h6>Back to parent</h6>
                                        </div>
                                        <ul class="menu-list has-children dd-menu" tabindex="0" style="overflow: hidden; outline: none;">
                                            <li>
                                                <a href="#">Overview</a>
                                            </li>
                                            <li class="dd-parent">
                                                <a href="#" class="dd-parent-a">
                                                    <i class="icon-insert-template"></i>
                                                    Tweets
                                                    <span class="dd-icon"></span>
                                                </a>
                                                <ul rel="2" style="margin-right: 0px; margin-top: 0px;">
                                                    <li>
                                                        <a href="#">Item 1</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Item 2</a>
                                                    </li>

                                                </ul>
                                            </li>
                                            <!-- <li class="dd-parent last">
                                                <a href="#" class="dd-parent-a"><i class="icon-insert-template"></i>
                                                    Event study<span class="dd-icon"></span></a>
                                                <ul rel="2" style="margin-right: 0px; margin-top: 0px;">
                                                    <li><a href="#">List event studies</a></li>
                                                    <li><a href="#">New event study</a></li>
                                                    <li class="last"><a href="#">New event study from file</a></li>
                                                </ul>
                                            </li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="dropdown {% if request.path in [
                                        url_for('fintweet.index'),
                                        url_for('fintweet.tweets'),
                                        url_for('fintweet.users'),
                                        url_for('fintweet.eventstudy'),
                                        url_for('fintweet.eventstudyfile')] %}
                                        active{% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="{{ url_for('fintweet.index') }}">
                        Fintweet
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="{% if request.path == url_for('fintweet.index') %}active{% endif %}">
                            <a href="{{ url_for('fintweet.index') }}">Overview </a>
                        </li>
                        <li class="{% if request.path == url_for('fintweet.tweets') %}active{% endif %}">
                            <a href="{{ url_for('fintweet.tweets') }}">Tweets </a>
                        </li>
                        <li class="{% if request.path == url_for('fintweet.users') %}active{% endif %}">
                            <a href="{{ url_for('fintweet.users') }}">Users </a>
                        </li>
                        <li class="divider"></li>
                        <li class="{% if request.path == url_for('fintweet.eventstudy') %}active{% endif %}">
                            <a href="{{ url_for('fintweet.eventstudy') }}">Event Study</a>
                        </li>
                        <li class="{% if request.path == url_for('fintweet.eventstudyfile') %}active{% endif %}">
                            <a href="{{ url_for('fintweet.eventstudyfile') }}">Event Study File</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    {% endif %}
    <!-- /second navbar -->

    {#
    <div class="container-fluid">#}
        <!-- Page header -->
        <div class="page-header page-header-default">
            <!-- Page header content -->
            <div class="page-header-content">

                <!-- Page title -->
                <div class="page-title">
                    <h4>
                        {#
                        <i class="icon-arrow-left52 position-left"></i>#}
                        <span class="text-semibold">{% block content_title %}{% endblock %}</span>
                    </h4>
                </div>
                <!-- /page title -->


                <!-- Heading elements -->
                <div class="heading-elements">

                </div>
                <!-- /heading elements -->

            </div>
            <!-- /page header content -->
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="alert alert-dismissable alert-{{ category }}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
            </div>

        </div>
        <!-- /page header -->


        <!-- Page container -->
        <div class="page-container">
            {% block content %}{% endblock %}
        </div>
        <!-- /page container -->


        <!-- Footer -->
        <div class="footer text-muted">
            &copy; 2018.
        </div>
        <!-- /footer -->
        {#</div>#} {% block javascript %} {% endblock %}

</body>

</html>