{% extends "_base.html" %}
{% from "_formshelper.html" import render_field %}
{% block title %}New Event study{% endblock %}
{% block content %}
    <style>
        label {
            margin-left: 3px;
            margin-right: 5px;
        }

        table.dataframe, .dataframe th, .dataframe td {
            border: none;
            border-bottom: 1px solid #C8C8C8;
            border-collapse: collapse;
            text-align: left;
            padding: 10px;
            margin-bottom: 40px;
            font-size: 0.9em;
        }

    </style>
    <div class="row">
        <form action="{{ url_for('project.event_new') }}" method="post" role="form">
            {{ form.csrf_token }}
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading"><h5>Active project: <strong>{{ project.name }}</strong></h5></div>
                    <div class="panel-body">
                        <h6>Date range is inhereted from project settings:
                            {{ project.date_start }} - {{ project.date_end }}</h6>
                        <div class="form-inline">
                            {{ render_field(form.dataset.label) }}
                            {{ render_field(form.dataset, class="form-control") }}
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped table-condensed" width="100%" style="padding: 8px 10px;">
                                <thead>
                                <tr>
                                    <td>Code type</td>
                                    <td>Tag text</td>
                                    <td>Event date</td>
                                    <td style="max-width: 120px;">Pre event days</td>
                                    <td style="max-width: 120px;">Post event days</td>
                                </tr>
                                </thead>
                                {% for event in form.events %}
                                    {{ event.csrf_token }}
                                    <tr>
                                        <td>{{ render_field(event.code_type_radio, class="form-control") }}</td>
                                        <td>{{ render_field(event.code_text, class="form-control") }}</td>
                                        <td>{{ render_field(event.event_date, class="form-control") }}</td>
                                        <td style="max-width: 120px;">{{ render_field(event.pre_event, class="form-control input-sm") }}</td>
                                        <td style="max-width: 120px;">{{ render_field(event.post_event, class="form-control input-sm") }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>

                    </div>
                    <div class="panel-footer">
                        {{ render_field(form.add_event, class="form-control") }}
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="row">
        <div class="col-sm-6">
            {% for table in tables %}
                <h5>{{ titles[loop.index] }}</h5>
                {{ table | safe }}
            {% endfor %}
        </div>
        <div class="col-sm-6">
            {% if stats %}
                <h5>STATS</h5>
                {{ stats | safe }}
            {% endif %}
        </div>
    </div>


{% endblock %}
