{% extends "_base.html" %}
{% block title %}Dashboard | Projects{% endblock %}
{% block content_title %}Dashboard | Projects{% endblock %}
{% block css %}
    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"
          type="text/css">
{% endblock %}

{% block content %}
    <table class="table table-stripe">
        <thead>
        <tr>
            <th width="20%" class="border-top-0">Name</th>
            <th width="15%" class="border-top-0">Start Date</th>
            <th width="15%" class="border-top-0">End Date</th>
            <th class="border-top-0">Description</th>
            <th width="15%" class="border-top-0">Edit / Delete</th>
            <th width="10%" class="border-top-0">Active</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td><a href="{{ url_for('project.project', uuid=project.uuid) }}">{{ project.name }}</a></td>
                <td> {{ project.date_start }} </td>
                <td> {{ project.date_end }} </td>
                <td> {{ project.description }} </td>
                <td><a href="{{ url_for('project.project_edit', uuid=project.uuid) }}"><i class="fa fa-pencil"></i>Edit</a>
                    / <a href="{{ url_for('project.project_edit', uuid=project.uuid) }}"><i
                            class="fa fa-trash"></i>Delete</a>
                </td>
                <td> {% if project.active %}
                    {{ project.active }}
                {% else %}
                    <a href="{{ url_for('project.project_activate', uuid=project.uuid) }}">Activate</a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {

        });

    </script>
{% endblock %}
