{% extends "_base.html" %}
{% from "_formshelper.html" import render_field %}
{% block title %}Event study{% endblock %}
{% block content %}
    <style>
        label {
            margin-left: 3px;
            margin-right: 5px;
        }

        table.dataframe, .dataframe th, .dataframe td {
            border: none;
            border-bottom: 1px solid #C8C8C8;
            border-collapse: collapse;
            text-align: left;
            padding: 10px;
            margin-bottom: 40px;
            font-size: 0.9em;
        }

    </style>
    <div class="row">
        <form action="{{ url_for('fintweet.eventstudyfile') }}" method="post" enctype="multipart/form-data" role="form">
            {{ form.csrf_token }}
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Topic</div>
                    <div class="panel-body">
                        <div class="form-inline">
                            <p><b>Step 1:</b> Choose your date range.</p>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    {{ form.date_range_start.label }}
                                    {{ render_field(form.date_range_start, class="form-control", type="date") }}
                                </div>
                                <div class="col-sm-6">
                                    {{ form.date_range_end.label }}
                                    {{ render_field(form.date_range_end, class="form-control", type="date") }}
                                </div>
                            </div>
                        </div>
                        <div class="form-inline">
                            <p><b>Step 2:</b> Select file.</p>
                            <div>
                                {{ render_field(form.file_input) }}
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        {% if form.file_name.data %}
                            {{ form.file_name }}
                            <p>Working file: <b>{{ form.file_name.data }}</b></p>
                        {% else %}
                            {{ render_field(form.btn_file_upload, class="btn btn-success") }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Event study parameters</div>
                    <div class="panel-body">
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-sm-12" style="text-align: center;">
                                <b>Event window</b>
                            </div>
                            <div class="col-sm-6">
                                {{ form.days_pre_event.label }}
                                {{ render_field(form.days_pre_event, class="form-control form-group-sm") }}

                            </div>
                            <div class="col-sm-6">
                                {{ form.days_post_event.label }}
                                {{ render_field(form.days_post_event, class="form-control form-group-sm") }}
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-sm-12" style="text-align: center;">
                                <b>Estimation window</b>
                            </div>
                            <div class="col-sm-6">
                                {{ form.days_estimation.label }}
                                {{ render_field(form.days_estimation, class="form-control form-group-sm") }}

                            </div>
                            <div class="col-sm-6">
                                {{ form.days_grace_period.label }}
                                {{ render_field(form.days_grace_period, class="form-control form-group-sm") }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                {{ form.select_deal_resolution.label }}
                                {% for subfield in form.select_deal_resolution %}
                                    <tr>
                                        <td>{{ subfield }}</td>
                                        <td>{{ subfield.label }}</td>
                                    </tr>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        {% if form.btn_calculate %}
                            {{ render_field(form.btn_calculate, class="btn btn-success") }}
                            {{ render_field(form.btn_download_csv, class="btn btn-success pull-right") }}
                        {% endif %}
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-12">
        {% if df_in %}
            {{ form.file_csv }}
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" href="#df_in_collapse">Input data (click here to collapse)</a>
                    </div>
                    <div id="df_in_collapse" class="panel-collapse collapse in">
                        <div class="panel-body">{{ df_in | safe }}</div>
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>

        {% endif %}
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        $(function () {
            $('#btn_download_csv').click(function (event) {
                event.preventDefault();
                window.open('{{ url_for('fintweet.send_csv') }}');
                {#window.location.href = '{{ url_for('fintweet.send_csv') }}';#}
            });
        });
    </script>
{% endblock %}
