{% extends "_base.html" %}
{% from "_formshelper.html" import render_field %}
{% block title %}Event study{% endblock %}
{% block content %}
    <style>
        label {
            margin-left: 3px;
            margin-right: 5px;
        }
    </style>
    <div>
        <form action="{{ url_for('fintweet.eventstudy') }}" method="post">
            <div class="col-sm-6">
                <div class="form-inline">
                    <h3><b>Step 1:</b> Choose your date range.</h3>
                    <div class="form-group">
                        {{ form.start_date.label }}
                        {{ render_field(form.start_date, class="form-control", type="date") }}
                    </div>
                    <div class="form-group">
                        {{ form.end_date.label }}
                        {{ render_field(form.end_date, class="form-control", type="date") }}
                    </div>
                </div>
                <div class="form-inline">
                    <h3><b>Step 2:</b> Apply your company codes.</h3>
                    <div>
                        {% for subfield in form.code_type_radio %}
                            <tr>
                                <td>{{ subfield }}</td>
                                <td>{{ subfield.label }}</td>
                            </tr>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    {{ render_field(form.company_codes, class="form-control", type="text", placeholder="Company Codes") }}
                    <p><i>Please enter Company codes seperated by commas. <br>Example: FB, IBM, MSFT, AAPL</i></p>
                </div>
                <div class="form-inline">
                    <h3><b>Step 2a:</b> Upload a file</h3>
                    <div class="form-group">
                        {#                        {{ form.codes_file.label }}{{ form.codes_file }}#}
                        {{ render_field(form.codes_file, class="form-control") }}
                    </div>
                </div>
                <input type="submit" value="Get Started!" class="btn btn-lg btn-success">
            </div>
        </form>
    </div>


{% endblock %}
