{% extends "_base.html" %}
{% from "_formshelper.html" import render_field %}
{% block title %}Event study{% endblock %}
{% block content %}
    <style>
        label {
            margin-left: 3px;
            margin-right: 5px;
        }
    </style>
    <div class="row">
        <form action="{{ url_for('fintweet.eventstudy') }}" method="post" role="form">
            {{ form.csrf_token }}
            <div class="col-sm-6 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">Topic</div>
                    <div class="panel-body">
                        <div class="form-inline">
                            <h4><b>Step 1:</b> Choose your date range.</h4>
                            <div class="form-group">
                                {{ form.start_date.label }}
                                {{ render_field(form.start_date, class="form-control", type="date") }}
                            </div>
                            <div class="form-group">
                                {{ form.end_date.label }}
                                {{ render_field(form.end_date, class="form-control", type="date") }}
                            </div>
                        </div>
                        <div class="form-inline">
                            <h4><b>Step 2:</b> Apply your company codes.</h4>
                            <div>
                                {% for subfield in form.code_type_radio %}
                                    <tr>
                                        <td>{{ subfield }}</td>
                                        <td>{{ subfield.label }}</td>
                                    </tr>
                                {% endfor %}
                            </div>
                        </div>
                        <div>
                            {{ render_field(form.company_codes, class="form-control", type="text", placeholder="Company Codes") }}
                            <p><i>Please enter Company codes seperated by commas. <br>Example: FB, IBM, MSFT, AAPL</i>
                            </p>
                        </div>
                        <div class="form-inline">
                            <h4><b>Step 2a:</b> Upload a file</h4>
                            <div class="form-group">
                                {#                        {{ form.codes_file.label }}{{ form.codes_file }}#}
                                {{ render_field(form.codes_file, class="form-control") }}
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        {{ render_field(form.get_cashtags, class="btn btn-success") }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="panel panel-default">
                    <div class="panel panel-heading">Event study parameters</div>
                    <div class="panel panel-body">
                        {#        {% if cashtag_options in form %}#}
                        <h5>Cashtags used:</h5>
                        {#        {{ form.cashtags_options }}#}
                        {{ render_field(form.cashtags_options, class="form-control") }}
                        <div>
                            <p>Event window</p>
                            <div class="form-group form-inline">
                                {{ form.event_date.label }}
                                {{ render_field(form.event_date, class="form-control", type="date" ) }}
                                {{ form.pre_event.label }}
                                {{ render_field(form.pre_event, class="form-control") }}
                                {{ form.post_event.label }}
                                {{ render_field(form.post_event, class="form-control") }}
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-footer">
                        {{ render_field(form.get_event_data, class="btn btn-success") }}
                    </div>
                </div>

            </div>
        </form>

    </div>
    <div class="row">
        RESULTS GO HERE
    </div>


{% endblock %}
