<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<head>
    {% block title %}{% endblock %}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"></link>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body class="body">

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<body>

<div class="container-fluid" style="min-height:100%">

    {% block body %}{% endblock %}

</div>

</body>
</html>